/* fonts */

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* global styles */

* {
  font-family: "Poppins";
}

input {
  border: 2px solid black;
  padding: 5px;
}

button {
  border: none;
  padding: 7px;
  color: white;
  background-color: black;
  cursor: pointer;
}

/* structure */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin: 15px;
  flex-grow: 1;
}

/* nav */

#site_nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#site_nav li {
  list-style-type: none;
  height: 40px;
}

#site_nav a {
  display: flex;
  text-decoration: none;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  color: black;
}

#nav_title {
  font-weight: bold;
  font-size: 22px;
  width: 100%;
}

/* footer */

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0 15px;
  text-align: center;
}

/* desktop compatibilty */

@media only screen and (min-width: 600px) {
  
  /* nav */

  #site_nav li {
    height: 50px;
  }

  #nav_title {
    width: auto;
    margin-right: auto;
  }

}